<div id="<%= dom_id match_donation %>">
  <%= render "layouts/donor", donor: match_donation&.donor %>

  <p>
    <strong>Max amount:</strong>
    <%= match_donation.max_amount %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= match_donation.active %>
  </p>

  <p>
    <strong>Per donor amount:</strong>
    <%= match_donation.per_donor_amount %>
  </p>

  <p>
    <strong>Per donation amount:</strong>
    <%= match_donation.per_donation_amount %>
  </p>

</div>
